.UserForm {
  &__Note {
    padding: 10px 20px;
    background-color: #feebe5;
    border-radius: 5px;
  }

  &__ContainerTimeRepeat {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__input-with-btn {
    display: flex;
    gap: 8px;
    align-items: center;

    // cho Input chiếm không gian còn lại
    .ant-input {
      flex: 1;
      min-width: 0; // quan trọng để tránh tràn trong flex container
    }

    // nhỏ gọn cho nút
    .ant-btn {
      white-space: nowrap;
    }
  }
  &__generate-btn {
    border-color: #f97316;
    color: #f97316;

    &:hover,
    &:focus {
      border-color: #f97316 !important;
      color: #f97316 !important;
    }
  }

  @media (max-width: 576px) {
    &__input-with-btn {
      flex-direction: column;
      align-items: stretch;

      .ant-input {
        width: 100%;
      }

      .ant-btn {
        width: 100%;
      }
    }
  }
}
