.SelectField {
    display: flex;
    gap: 20px;
    align-items: center;

    &__select {
        width: 200px !important;
    }

    .ant-select-selector {
        border-color: #F66233 !important;
        box-shadow: none !important;
    }
}