.Container-PersionalForm {}

.PersonalInformationForm {
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    width: 100%;
    margin-bottom: 20px;

}