.ToeicTests-page {
  &__header {
    background: linear-gradient(to right, #fda98e, #f9cccc);
    padding: 40px 0;

    .MainContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-title {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
    }
    &-createExam {
      background-color: #e8f2ff;
      font-weight: 500;
      font-size: 15px;
      border: none !important;
      color: #35509a;

      &:hover {
        background-color: #e8f2ff !important;
        color: #35509a !important;
      }
    }
  }

  &__ContainerSelect {
    display: flex;
    gap: 40px;
    margin: 20px 0px;
  }

  &__Search {
    border-color: #f66233 !important;
    box-shadow: none !important;
  }

  &__listTest {
    margin-top: 20px;
    min-height: 350px;
  }

  .Test-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
  }

  .Test-item {
    display: flex;
    align-items: center;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    cursor: pointer;

    &__index {
      background-color: #f97316;
      color: white;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      font-size: 14px;
      font-weight: bold;
      margin-right: 16px;
    }

    &__title {
      flex: 1;
      font-size: 16px;
      font-weight: 500;
      color: #374151;
    }

    &__info {
      font-size: 16px;
      color: #3b82f6;
      margin-left: 12px;
      cursor: pointer;
    }
  }
}

.create-toeic-test-btn {
  background-color: #f97316;
  border: none;
  float: right;
  width: fit-content;
  justify-content: end;

  &:hover {
    background-color: #c94c09 !important;
  }
}