.SwiperBanner {
    width: 100%;
    height: 600px; // ✅ Chiều cao cố định (bạn có thể tùy chỉnh: 250px, 400px tùy thiết kế)
    position: relative;

    &__banner {
        width: 100%;
        height: auto;
        object-fit: cover; // ✅ Giúp ảnh co giãn vừa khung, không bị méo
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: black;
    z-index: 10;
    opacity: 1;
}