.PartSix {
  &__header {
    background-color: #e8f2ff;
    color: #35509a;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 20px;
  }

  &__divider {
    width: 1px;
    background-color: #ccc;
  }
}

.CardPartSix {
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__content {
    display: flex;
    gap: 20px;
    align-items: start;
    margin-bottom: 20px;
  }
  &__reading {
    width: 55%;
    font-size: 16px;
    line-height: 1.6;
  }
  &__container-question {
    flex: 1;
  }

  &__questionBlock {
    margin-bottom: 20px;
    display: flex;
    align-items: start;
    gap: 20px;
  }
  &__container-questionNumber {
    width: 12%;
    display: flex;
    justify-content: center;
  }
  &__container-options {
    flex: 1;
  }
  &__questionNumber {
    font-size: 20px;
    font-weight: bold;
    background-color: #e8f2ff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    color: #35509a;
  }

  &__options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 16px;
  }

  &__option {
    display: flex;
    align-items: start;
    gap: 10px;
    label,
    input {
      cursor: pointer;
    }
    input {
      margin-top: 6px;
    }
  }
}
