.feedback-card {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 16px;
    transition: box-shadow 0.3s ease;
    display: flex;
    align-items: start;
    gap: 20px;
    position: relative;

    &:hover {
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    }


    &__Content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__name {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        color: #333;
    }

    &__rating {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    &__delete {
        font-size: 20px;
        color: #ff4d4f;
        cursor: pointer;
        transition: color 0.3s;
        position: absolute;
        top: 45%;
        right: 10px;

        &:hover {
            color: #d9363e;
        }
    }

    &__comment {
        font-size: 14px;
        line-height: 1.5;
        color: #555;
    }

    &__ListImgFeedback {
        display: flex;
        gap: 10px;
    }

    &__ImgFeedback {
        width: 80px;
        height: auto;
        border-radius: 5px;
    }
}