.PracticeFlashCard {
    &__header {
        margin: 20px 0px;
    }

    &__start-header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__actions {
        display: flex;
        gap: 20px;
    }

    &__title {
        font-size: 24px;
    }

    &__btn {
        padding: 18px 28px;
        width: 200px;
        font-size: 15px;
        color: #fff;
        background-color: #FF8159;
        font-weight: 500;
        border-color: #FF8159;

        &:hover {
            background-color: #FF8159 !important;
            border-color: #FF8159 !important;
            color: #fff !important;
        }

        &--Stop {
            background-color: #FF0000;
            border-color: #FF0000;


            &:hover {
                background-color: #FF0000 !important;
                border-color: #FF0000 !important;
            }
        }
    }

    &__Content {
        margin-bottom: 20px;
    }

    &__note {
        margin-bottom: 20px;
        font-size: 16px;
        padding: 10px 20px;
        background-color: #F9E8E3;
        border-radius: 7px;
    }

    &__Footer {
        padding: 20px;
        background-color: #fff;
        height: 100px;
        border-radius: 10px;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__btnGeneral {
        display: flex;
        gap: 15px;
        align-items: center;
        font-size: 16px;
        cursor: pointer;

        &--Easy {
            color: #34A853;
        }

        &--Medium {
            color: #FFBB25;
        }

        &--Difficult {
            color: #FF0000;
        }

        &--Discard {
            color: #35509A;
        }
    }
}

.Card-remember {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: space-between;

    &__delete {
        font-size: 18px;
        color: #FF0000;
        cursor: pointer;
    }
}

.note {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #F9E8E3;
    border-radius: 7px;
}